<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <section class="textos-header">
          <h1><span>MEJORES</span><span>HOTELES</span></h1>
          <h2>Con una página web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>

        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Hoteles</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="assets/img/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="assets/img/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="assets/img/icono1.png" alt="">
                            <p>Hoteles</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="assets/img/ilustracion1.svg" alt="">
                        <h3>Encuentra hoteles baratos</h3>
                        <p>Con este Gestor de Hoteles te resultará muy fácil encontrar tu hotel ideal y comparar
                          precios de distintas páginas web. Solo tienes que indicar adónde quieres ir y
                          en qué fechas vas a viajar, y nuestro buscador de hoteles se ocupará de comparar
                           los precios de los alojamientos por ti.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="assets/img/ilustracion4.svg" alt="">
                        <h3>Los mejores hoteles del mundo</h3>
                        <p>El buscador de hoteles te permite comparar fácilmente los precios de más de 1,8 millones
                           de hoteles de más de 190 países en más de 300 webs de reserva. Cada mes, 1400 millones
                           de viajeros usan este buscador y comparador de hoteles para comparar distintas ofertas
                           en el mismo destino</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="assets/img/ilustracion3.svg" alt="">
                        <h3>Opiniones de Usuarios</h3>
                        <p>Las opiniones de los demas te ayudaran a escoger tu hotel para que puedas
                          darte una idea y escoger adecuadamente tu hotel para poder hospedarte, recuerda que
                          vas a tener calificacion de cada, puedes tambien ver una breve descripcion de cada usuario
                          y del hotel al que te vas a hospedar!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
      <div class="footer-container">
          <div class="footer-content-container">
              <h3 class="website-logo">Gestor de Hoteles</h3>
              <span class="footer-info">Fundacion Kinal</span>
              <span class="footer-info">academy@itskrey.com</span>
          </div>
          <div class="footer-menus">
              <div class="footer-content-container">
                  <span class="menu-title">menu</span>
                  <a href="/inicio" class="menu-item-footer">Inicio</a>
                  <a href="../../../assets/Hotel.jpg" class="menu-item-footer">Courses</a>
                  <a href="../../../assets/Hotel.jpg" class="menu-item-footer">Testimonials</a>
              </div>
              <div class="footer-content-container">
                  <span class="menu-title">legal</span>
                  <a href="../../../assets/Hotel.jpg" class="menu-item-footer">Privacy Policy</a>
                  <a href="../../../assets/Hotel.jpg" class="menu-item-footer">Cookies</a>
                  <a href="../../../assets/Hotel.jpg" class="menu-item-footer">Legal Advice</a>
              </div>
          </div>

          <div class="footer-content-container">
              <span class="menu-title">follow us</span>
              <div class="social-container">
                  <a href="../../../assets/Hotel.jpg" class="social-link"></a>
                  <a href="../../../assets/Hotel.jpg" class="social-link"></a>
                  <a href="../../../assets/Hotel.jpg" class="social-link"></a>
              </div>
          </div>
      </div>
      <div class="copyright-container">
          <span class="copyright">Copyright 2022, Grupo 3 Todos los Derechos Reservados.</span>
      </div>
    </footer>
</body>

</html>
