
<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Crear una Cuenta</h1>
        <span>Usar tu email para registrarte</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Entrar</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Registrate</h1>
        <input [(ngModel)]="user.nombre" #name="ngModel" name="name" type="text" id="form3Example1c" class="form-control" required placeholder="Name" />
        <input [(ngModel)]="user.email" #email="ngModel" name="email" type="email" id="form3Example3c" class="form-control" required placeholder="Email" />
        <input [(ngModel)]="user.password" #password="ngModel" name="password" type="password" id="form3Example4c" class="form-control" required placeholder="Password" />
        <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="register()">Entrar</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Hola, Amigo!</h1>
          <p>Ingresa tus datos personales y comienza tu viaje con nosotros</p>
        </div>
      </div>
    </div>
  </div>
  </body>
